*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 15px;
    background-color:rgb(167, 62, 62);
    transition: background 0.2s ease-in-out;

}

.Title{
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;

}
.Wrapper{
    max-width: 400px;
    border: 2px solid black;
    margin: 0 auto;
    padding: 5px 10px 5px;
    background-color: rgba(183, 95, 95);
    transition: background 0.2s ease-in-out;
    
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    border-radius: 20px 20px 0px 0px;
}
.WrapperRest{
    max-width: 400px;
    border: 2px solid black;
    margin: 0 auto;
    padding: 5px 10px 5px;
    background-color: #4799d8;
    transition: background 0.2s ease-in-out;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    border-radius: 20px 20px 0px 0px;
}
.WrapperLongRest{
    max-width: 400px;
    border: 2px solid black;
    margin: 0 auto;
    padding: 5px 10px 5px;
    background-color: #439d5d;
    transition: background 0.2s ease-in-out;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    border-radius: 20px 20px 0px 0px;
}
.Wrapper2{
    max-width: 400px;
    border: 2px solid black;
    margin: 0 auto;
    background-color: rgba(183, 95, 95);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.2s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-top: none;
    border-bottom: none;
}
.Wrapper2Rest{
    max-width: 400px;
    border: 2px solid black;
    margin: 0 auto;
    background-color: #4799d8;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.2s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-top: none;
    border-bottom: none;
}
.Wrapper2LongRest{
    max-width: 400px;
    border: 2px solid black;
    margin: 0 auto;
    background-color: #439d5d;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.2s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-top: none;
    border-bottom: none;
}
.Wrapper3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: rgba(183, 95, 95);
    font-weight: bold;
    transition: background 0.2s ease-in-out;
}
.Wrapper3Rest{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: #4799d8;
    font-weight: bold;
    transition: background 0.2s ease-in-out;
}
.Wrapper3LongRest{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: #439d5d;
    font-weight: bold;
    transition: background 0.2s ease-in-out;
}
.Timer{
    font-size: 4rem;
}
.PlayStop{
    height:50px;
    width: 100px;
    border-radius: 25px;
    background-color: rgba(213, 101, 101, 0.816);
    color: white;
    font-weight: bold;
    box-shadow: 1px 0.5px 1px black;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}
.PlayStopRest{
    height:50px;
    width: 100px;
    border-radius: 25px;
    background-color: #4799d8;
    color: white;
    font-weight: bold;
    box-shadow: 1px 0.5px 1px black;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}
.PlayStopLongRest{
    height:50px;
    width: 100px;
    border-radius: 25px;
    background-color: #439d5d;
    color: white;
    font-weight: bold;
    box-shadow: 1px 0.5px 1px black;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}
.PlayStop:hover{
    background-color: rgba(238, 119, 119, 0.816);
}
.PlayStop:active{
    transform: translateY(3px);
}
.Event{
    width:100px;
    height: 40px;
    font-size:0.8rem;
    border-radius: 10px;
    background-color: rgba(213, 101, 101, 0.816);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 1px 0.5px 1px black;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    
}
.EventRest{
    width:100px;
    height: 40px;
    font-size:0.8rem;
    border-radius: 10px;
    background-color: #4799d8;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 1px 0.5px 1px black;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}
.EventLongRest{
    width:100px;
    height: 40px;
    font-size:0.8rem;
    border-radius: 10px;
    background-color: #439d5d;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 1px 0.5px 1px black;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}
.Event:hover{
    background-color: rgba(238, 119, 119, 0.816);
}
.Event:active{
    transform: translateY(2.5px);
}
.Wrapped3{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0px auto;
    height:40px;
    border-radius: 0px 0px 20px 20px;
    background-color: rgba(183, 95, 95);
    transition: background 0.2s ease-in-out;
}
.Wrapped3Rest{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0px auto;
    height:40px;
    border-radius: 0px 0px 20px 20px;
    background-color: #4799d8;
    transition: background 0.2s ease-in-out;
}
.Wrapped3LongRest{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0px auto;
    height:40px;
    border-radius: 0px 0px 20px 20px;
    background-color: #439d5d;
    transition: background 0.2s ease-in-out;
}
